body {
    background-color: mediumpurple;
    border-color: black;
    border: 2px solid;
    border-radius: 10px;
}

.outer-box {
    width: 500px;
    height: 500px;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    border-color: black;
    margin-top: 20px;
    margin-left: 20px;
}

.inner-box {
    width: 100px;
    height: 100px;
    background-color: pink;
    align-content: center;margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.inner-box2 {
    width: 150px;
    height: 250px;
    background-color: aquamarine;
    margin-left: 20px;
    border-radius: 10px;
}

.inner-box3 {
    width: 150px;
    height: 60px;
    background-color: aqua;
    align-content: center;margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.outer-box2 {
    width: 150px;
    height: 200px;
    background-color: deeppink;
    margin-top: 20px;
    border-radius: 10px;
    border-color: white;
    border: 2px solid;
    margin-left: 20px;
    margin-bottom: 20px;
}